.subtitle{
  margin-top: 50px;
  h2{
    color:aliceblue;
    text-align: center;
  }
  p{
    color:aliceblue;
    text-align: center;
  }
}

.layoutRowLandingPageNav{
    align-items: center;
    justify-content: center;
    gap: 100px;
    display: flex;
    background-color: @primaryColor;
   
   a{
    text-align: center;
    user-select: none;
    padding: 1em;
    background-color: transparent;
    color:@textPrimaryColor;
    font-family:'Montserrat',sans-serif;
    transition: background-color 0.5s ease-in-out;
   }
   a:hover{
    background-color: @hoverColor;
    box-shadow: 10px 5px 5px black
   }
}
.header-image{
    width: 100px;
    height: 100px;
    opacity: 0;
    animation:fadeIn 2s ease-in-out forwards;
    
}
main{
  pre{
    color:@textPrimaryColor
  }
  p{
    color:@textPrimaryColor
  }
  .Description{
    background-color: @secondaryColor;
    padding-top: 40px;
    padding-bottom: 40px;
    p{
      text-align: center;
      color: @textPrimaryColor;
      font-family: 'Montserrat','sans-serif';
    }
  }
}


.HeroPanel{ 
  align-items: center;
  justify-content: center;
  gap: 50px;
  display: flex;
  margin-top: 100px;
  margin-bottom:100px;
 
    h1{
      font-size: 45px;
      color:@textPrimaryColor;
      font-family:'Montserrat',sans-serif;
      opacity: 0;
      animation:fadeIn 2s ease-in-out forwards;
      }
}
    
main{
  font-family: 'Montserrat','sans-serif';
}
.cardLandingPage:hover{
  scale: 1.2;
  
  box-shadow: 10px 10px 10px 10px black;
}
.layoutRow{
  margin-top: 40px;
  align-items: center;
    justify-content: center;
    gap: 100px;
    display: flex;
    color:@textSecondaryColor;
    .cardLandingPage{
      transition: 1s;
      background-color: @cardExampleColor;
      border-radius: 05%;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
     
      .fondoAzul{
      background-color: @primaryColor;
      
      h2{
        padding-bottom: 5px;
        margin-top: 0px;
        color:@textPrimaryColor;
        
       
      }
      p{
        
        padding-top: 5px;
        color:@textPrimaryColor;
        padding-bottom: 5px;
        margin-bottom: 0px;
       
      }
      image{
        width: 50px;
        height: 50px;
       
      }
    }
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

